.box-1 {
    left: 0%;
   position: absolute;
    background: blue;
    height: 150px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.box-2 {
    position: absolute;
    background: red;
    height: 150px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.box-3 {
    left: 0;
    position: absolute;
    background: pink;
    height: 150px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.box-4 {
    position: absolute;
    background: yellow;
    height: 150px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.box-5 {
    background: orange;
    width: 200px;
    height: 150px;
    left: 200px;
}